<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.OrderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="info.id">
        INSERT INTO orders (name, address, phone, user_id)
        VALUES (#{info.name}, #{info.address}, #{info.phone}, #{userId});

        SET @LAST_ORDER_ID = LAST_INSERT_ID();

        INSERT INTO orderItems (order_id, quantity, product_id, amount)
        <foreach collection="info.order_items" item="item" open="(" separator="," close=")">
            SELECT @LAST_ORDER_ID, #{item.quantity}, id, price
            from products
            where id = #{item.product_id}
        </foreach>
    </insert>

    <select id="findById" resultMap="records.order">
        SELECT
        <include refid="columns.order"/>
        FROM orders
        LEFT JOIN orderItems ON id = order_id
        WHERE id = #{id}
    </select>

    <select id="findAllOf" resultMap="records.order">
        SELECT
        <include refid="columns.order"/>
        FROM orders
        LEFT JOIN orderItems ON id = order_id
        WHERE user_id = #{userId}
    </select>

    <insert id="pay">
        INSERT into payments (order_id, amount, type)
        VALUES (#{id}, #{info.amount}, #{info.pay_type})
    </insert>

    <select id="findPayment" resultMap="records.payment">
        SELECT *
        FROM payments
        WHERE order_id = #{id}
    </select>

</mapper>
